body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.9em;
}
h1 {
  margin: 5px;
  font-variant: small-caps;
  font-style: italic;
}
.block, .job {
  margin: 5px;
  padding: 5px;
}

form {
  border: 1px solid lightgrey;
}

input[type=text] {
  padding-left: 3px;
  padding-right: 3px;
}

fieldset {
  border: #E8E8E8 1px solid;
}
fieldset div {
  margin: 5px;
  margin-right: 10px;
}
#optim-options fieldset > div {
  display: inline-block;
}

form #optim-options input {
  width: 8em;
}

#doc-link {
  float: right;
  margin: 5px;
  padding: 5px;
}

#documentation li {
  margin: 5px;
}
#documentation .file-table-help {
  border-collapse: collapse;
}
#documentation .file-table-help td {
  border: 1px solid lightgrey;
  padding: 3px;
}
#documentation .required {
  font-weight: bold;
}

#result-graph {
  float: right;
  width: 300px;
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;
}

#result {
  width: calc(100% - 330px);
  height: 600px;
  margin-top: 5px;
  min-width: 300px;
}

#jobs-list{
  height: 155px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  display: inline-block;
}
.job_title {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}
.job button {
  vertical-align: bottom;
}

.error {
  font-weight: bold;
  color: red;
}
