<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Mapotempo Optimizer</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="block">
    <img src="images/logo.png">
    <h1>Optimizer</h1>
  </div>
  <div class="block">
    <fieldset id="optim-list-status">
      <legend id="optim-list-legend"></legend>
      <div id="jobs-list">
      </div>
    </fieldset>
  </div>
  <form id="post-form" autocomplete="off">
    <!-- <a id="doc-link" href="#documentation">documentation</a> -->
    <div class="block">
      <span id="file-customers-label"><%= I18n.t('views.shared.file_customer_label') %></span> <input type="file" id="json-file" value="">
    </div>
    <div class="block">
      <button id="send-files"><%= I18n.t('views.shared.send') %></button>
      <span id="files-infos"></span>
    </div>
  </form>
  <div class="block">
    <canvas id="result-graph"></canvas>
    <div><span id="result-label"></span> <span id="optim-infos"></span></div>
    <textarea id="result"></textarea>
  </div>

  <script src="https://unpkg.com/i18next@21.6.6/dist/umd/i18next.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next-browser-languagedetector/6.0.0/i18nextBrowserLanguageDetector.min.js"></script>
  <script src="js/translations.js?v=20220121"></script>
  <script src="js/jquery-1.12.3.min.js"></script>
  <script src="js/papaparse.min.js"></script>
  <script src="js/Chart.Core.min.js"></script>
  <script src="js/Chart.Scatter.min.js"></script>
  <script src="js/conf.js?v=20220121"></script>
  <script src="js/utils.js?v=20220121"></script>
  <script src="js/jobManager.js?v=20220121"></script>
  <script src="js/index.js?v=20220121"></script>
</body>
</html>
